// Global styling for this template

body {
  @include body-font;
  color: $gray-600;
}

@media (min-width: 992px) {
  body {
    main{
      padding-top: 0;
      padding-left: $sidebar-base-width;
    }
  }
}

html,body{
  min-height:100%;
}

body{
  min-height:100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

a{
  transition: 250ms;
}

*:focus {
    outline: none;
} 

textarea,
input{
  display:block;
  border: 1px solid $secondary;
  border-radius:10px;
  padding:10px;
  margin-bottom:10px;
  max-width:100%;

  &:focus{ outline:none; }
}

ul{
  list-style:none;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.btn-large{
  font-size:1.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    animation: 200ms linear;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.bg-primary-gradient{
  background: linear-gradient(-90deg, #c51221, $primary);
}

#contact{
  h2{
    color:$white;
  }
}

//RAILS
.errors,
#error_explanation{
  font-size: 1rem;
  color:$red;
  h2{
    color:$red;
    font-size:1.1rem;
  }
}
#login{
  max-width:450px;
  margin:0 auto;
  min-height:100vh;
  input.text{
    width:100%;
  }
}
#home-container{
}

#errors,
#notice{
  display:block;
  position: fixed;
  top: 0;
  background: #8c9299;
  margin: 0 auto;
  color: #ffffff;
  padding: 10px;
  opacity:0;

  -webkit-animation:fadeOut 10s linear;
  -moz-animation: fadeOut 10s linear;
  -ms-animation: fadeOut 10s linear;
  -o-animation: fadeOut 10s linear;
  animation: fadeOut 10s linear;
}

#errors:empty,
#notice:empty{
  display:none;
}

#errors{
  background:red;
  color:white;
  font-weight:700;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0;}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0;}
}

